<Html>  
	<Head>
		<title>Encryption</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		
	</Head>

	<Body> 
	<fieldset> 
		<header id="header">
				<h1><p style="font-size: 50px ;" align="center">Elgamal</p></h1>
				<hr>
		</header>
		
		<div class="jumbotron" style="width: 50%; margin-left:25%">			 
			{% if data %}
				{% for x in data %}
					<div class = "container">  
					<p style = "overflow:scroll;"> <strong> {{ x }}  : </strong> <br> {{ data[x] }} </p> 
					</div>
				{% endfor %}			
			{% endif %}
			<form action="/back" method="post">
			<button type="submit" class="btn btn-primary" value="submit">BACK</button>
			</form>
			<br>
			<p>Signature is valid</p>
			<p><b>Decrypted message: </b></p>
			{% if data %}
				<p>{{message}}</p>
			{% endif%}
		</div>
		
		</fieldset>
	
	</Body>
</Html>

 
